.filter_form {
  width: 600px;
  border: 2px;
  
  form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .filter-row {
      flex-direction: row;
    }  
  }

  button[type="submit"] {
    background-color: #3f51b5;
    color: #fff;
    
    width: 100%;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    
    font-size: 20px;

    cursor: pointer;
    transition: 0.4s;
  }

  button[type="submit"]:hover {
    background-color: #2e3b84;

  }
  
  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .filter_form {
    width: 90%;

    form .filter-row {
      flex-direction: column !important;  

      .MuiFormControl-root, .MuiFormControl-root {
            margin-bottom: 0;
      }

      .MuiGrid-root {
        margin-bottom: 5px;
      }
    }
  }
}
